<head>
    <style>
        p.desc {
            line-height: 1.1;
            font-size: 15px;
            color: grey;
            margin-bottom: 6px;
          }
        a.button {
            margin: 0 auto;
            display: block;
            width: 250;
            margin-bottom: 5px;
        }
    </style>
</head>
<div class="w-100 p-3">
    <div class="core">
    <p class="h6 text-center">
    {{ task.name }}
    </p>
    <p class="desc">{{ task.description }}</p>
    <a href="{% url 'tasks:done' task.id %}" class=" button btn btn-outline-success btn-sm" role="button">
        Задача выполнена!
    </a>
    <a href="{% url 'tasks:edit' task.id %}" class=" button btn btn-outline-secondary btn-sm" role="button">
        Редактировать задачу <i class="fa-solid fa-pencil"></i>
    </a>
</div>
</div>